*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.6em;
    
}

/*header style*/
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid #fff;
    z-index: 10;
    
}
.top-navbar{
    width: 100%;
    text-align: center;
    padding: 15px 35px;
}

.top-navbar ul{
    list-style: none;
    font-weight: 700;
}
.top-navbar ul li{
    display: inline-block;
    margin-left: 20px;
    padding: 15px 20px;
    cursor: pointer;
}

.top-navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.top-navbar ul li a:hover{
    color: rgba(120, 195, 232);
    transition: .9s;
    border-radius: 5px;
    font-weight: bold;
}

/*section style*/
section{
    width: 100%;
    height: auto;
}
.slider{
    overflow: hidden;
}
.slider figure{
    width: 100%;
    left: 0;
    padding: 0px 15px;
}
.slider figure img{
    width: 100%;
    height: 600px;
}

article{
    width: 100%;
    height: auto;
    text-align: center;
}

.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.container h1{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.catalog{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalogfield{
    flex: 1;
    width: 35%;
    margin-left: 30px;
    text-align: start;
}

.catalogfield img{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 800px){
    .catalog{
        width: 100%;
        padding: 0px 30px;
    }
    .catalogfield{
        width: 50%;
    }
}

@media screen and (min-width: 900px){
    .catalog{
        width: 90%;
        padding: 0px 30px;
    }
    .catalogfield{
        width: 30%;
    }
}